.hats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    color: #fff;
    padding: 30px;
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
