body {
    background-color: rgb(240, 255, 254);
}

.hats {
    display: flex;
    flex-wrap: wrap;
    background-color: #232323;
    color: #fff;
    padding: 30px;
    border-radius: 30px;
    align-items: center;
    gap: 24px;
    border: 2px solid red;
    box-shadow: 0 4px 16px rgba(255, 0, 0, 0.18);
}

.hats_img_logo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-color: transparent;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

/* Забезпечити, що іконки і текст ідуть в строку */
.icon {
    display: flex;
    align-items: center;
}

.link a {
    all: unset;
    cursor: pointer;
    color: #f3f3f3;
    font-size: 18px;
    padding: 6px 14px;
    border-radius: 7px;
    transition: background 0.7s, color 0.7s;
    text-decoration: none;
    display: inline-block;
}
.link a:hover {
    background: #f91b2a;
    color: #000000;
    transition:background 0.7s, color 0.7s;
}
  
@media (max-width: 600px) {
    .link  {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding: 0 6px;
    }
  }

.full{
    margin: 15px 30px 10px 30px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}


.content_item {
    display: flex;
    flex-direction: column; 
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 16px rgba(0,0,0,0.18), 0 1.5px 2px rgba(0,0,0,0.12);
    text-decoration: none; /* Забираємо підкреслення у <a> */
    background-color: rgb(255, 255, 255);
    background-image: url('/media/img/5.avif');
    

}

/* Зображення зверху */
.content_img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    
}


/* Текст під фото */
.overlay_text {
    font-size: 2.2rem;
    color: #000000;
    font-weight: bold;
    white-space: normal;
    word-break: break-word;
    text-align: center; /* центру   ємо текст */
    text-shadow: 0 4px 16px rgba(255, 255, 255, 0.618), 0 1.5px 2px rgba(0,0,0,0.12);
}

/* Для малих екранів - по одному в ряд */
@media (max-width: 900px) {
    .content_item {
        flex: 0 0 90%;
        max-width: 90%;
    }
}

/* Для середніх екранів - по два в ряд */
@media (min-width: 901px) and (max-width: 1199px) {
    .content_item {
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}
@media (max-width: 600px) {
    .content_img {
        width: 220px;
        height: 220px;
        object-fit: cover;
        border-radius: 15px;
        
    }
}


.product-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

.product-detail-img {
    width: 900px;
    height: 900px;
    max-width: 100vw;
    max-height: 70vw;
    object-fit: cover;
}
.product-detail-name{
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 16px rgba(0,0,0,0.18), 0 1.5px 2px rgba(0,0,0,0.12);
    padding: 30px 80px 30px 80px;
    border-radius: 30px;
}

.product-info{
    text-align: center;
    box-shadow: 0 4px 16px rgba(0,0,0,0.18), 0 1.5px 2px rgba(0,0,0,0.12);
    padding: 30px 80px 30px 80px;
    border-radius: 30px;
}
@media (max-width: 600px) {
    .product-detail {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 12px;
    }
    .product-detail-img {
        width: 95vw;
        height: 60vw;
        max-width: 360px;
        max-height: 360px;
    }
    .product-info{
        padding: 10px 30px 10px 30px;
    }
}



.footer {
    color: #000000;
    width: 100%;
    background-color: #232323;
    color: #fff;
    padding: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    border: 2px solid red;
    box-shadow: 0 4px 16px rgba(255, 0, 0, 0.18);
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  @media (max-width: 600px) {
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding: 0 6px;
    }
  }
  
  .footer-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  @media (max-width: 600px) {
    .footer-left {
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
  }
  
  .icon a {
    all: unset;
    cursor: pointer;
    color: #f3f3f3;
    font-size: 18px;
    padding: 6px 14px;
    border-radius: 7px;
    transition: background 0.7s, color 0.7s;
    text-decoration: none;
    display: inline-block;
  }
  
  .icon a:hover {
    background: #f91b2a;
    color: #000000;
    transition:background 0.7s, color 0.7s;
  }