.hats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    color: #fff;
    padding: 30px;
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content_img {
max-width: 500px;
max-height: 500px;
    object-fit: cover;
}

.content_item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
