{% extends 'main/dad.html' %}
{% block body %}
<div>

   
<div class="content">
    {% if subcategories %}
        {% for sub in subcategories %}
            {% if sub.id %}
                <a href="{% url 'category_detail' sub.id %}" class="content_item">
                    <img class="content_img" src="{{ sub.image.url }}" alt="{{ sub.name }}">
                    <div class="overlay_text">{{ sub.name }}</div>
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}


    {% if products %}
        {% for product in products %}
            {% if product.id %}
                    <a href="{% url 'product_detail' category.id product.id%}" class="content_item">
                        <img class="content_img" src="{{ product.image.url }}" alt="{{ sub.name }}">
                        <div class="overlay_text">{{ product.name }}</div>
                    </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

</div>


{% endblock %}

